.enlaceactivitats{
    padding: 30px;
     color: rgb(105, 139, 252);
     background-color:rgb(194, 215, 248);
     border: 10px solid rgb(105, 139, 252);
     text-align: center;
     text-decoration:dotted;
     font-size: 2rem;
     border-radius:50%;
     margin-left: 5%;
 height: fit-content;
 width: fit-content;
 box-sizing: border-box;
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
 }
 .parrafohtml{
text-align: left;
padding: 30px;
 }
 .imagenhtmlcss{
    height: 250px;
    width:250px;
    margin-left: 5rem;
    margin-top: 10rem;
    
  }