.imagenwireframe{
    height: 500px;
    width: 500px;
    margin-left: 5rem;
    margin-top: 8%;
    
  }
  .parrafowireframe{
    text-align: justify;
    padding: 30px;
    margin-top: 10%;
    
     }   