
html,body{
    height: 100%;
    width: 100%;
}


.header{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 2em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    font-size: medium;
    position: sticky;
    width: 100%;
    height: 10%;
    background-color:#037171;

}
.menu {

   
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px groove #03312E; 
    border-radius: 2em;
    color:#b4eeea;
    font-style: italic;
    text-align: center;
    font-size: large;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
   text-decoration: none;
   background-color:#03312E;
 
  
  
  

}
.contacto{
   padding: 10px;
    color: #94e2e0;
    border: 5px solid #03312E;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    border-radius:2em;
    margin-left: 15%;
    margin-right: 5%;
height: fit-content;
width: fit-content;
box-sizing: border-box;
background-color:#0c4e4a;
}


.main {
width: 100%;
height: 80%;
display: inline-block;
padding: 2em;
background-color:#8BE2DC;
border: 2px solid black;
border-radius: 2em;

}
.divmain1{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  margin-bottom: 2rem;


}
.imagen{
    height: 250px;
    width:250px;
    margin-left: 20rem;
    margin-top: 5rem;
    
  }
  .fontgreen{
 color:#03312E;

  }

.list {
    border: 1px solid black;
    width: 400px;;
     height: auto;
      padding: 1rem;
      background-color:#02C3BD;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: large;
      margin-left: 4rem;
      
    }
    .list:hover {
      background-color: #037171; 
    }

.footer {

    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    font-style: italic;
    font-size: small;
    border-radius: 2em;
    padding: 1em;
    width: 100%;
    height: 10%;
    background-color:#037171;
 
}
.register {
padding: 30px;
   margin-left: 15rem;
}
